-------------********* Theoretical questions ********----------------

1. What are data structures, and why are they important?
* Data structure is a way of organizing and storing data, so that it can be accessed and manipulate effectively.
* Importances of data structure -:
 * Efficient Data Management- it provided faster processing and retrival of infomation.
 * Optimized algorithms - many algorithms rely on well structure data into effecently.
 * Scalability - essential for handling large amount of data. link in database and search engin.
 * real world applications - used in AI, operating system, cryptography, web development and networking.
 * memory optimization - helps to reduse to memory usage by sotting data efficiently.

2. Explain the difference between mutable and immutable data types with examples?
* Changeing data type from one to another with out creating new object is know as mutable data type and more memory efficiency is present.
 * List - mutable
 * set - mutable
 * dictionary - mutable
*** example-

In [10]:
 # example of mutable data type
 l= [2, 4, 5, ["test", "rest", "yes"]]
 print(l)
 l.append(3.33)
 print(l)
 print("example of set")
 s= {1, 5, 3, "test", 5, "yes"}
 print(s)
 s.add(3.33)
 print(s)
 print("example of dictionary")
 d={"name" :"Kavita joshi", "age":42, "address": "bangalore"}
 print(d)
 d["name"]= "kavita"
 print(d)

[2, 4, 5, ['test', 'rest', 'yes']]
[2, 4, 5, ['test', 'rest', 'yes'], 3.33]
example of set
{'test', 1, 3, 'yes', 5}
{'test', 1, 3, 'yes', 5, 3.33}
example of dictionary
{'name': 'Kavita joshi', 'age': 42, 'address': 'bangalore'}
{'name': 'kavita', 'age': 42, 'address': 'bangalore'}

* Immutable data type can not be changed after creation.
* If modification is needed, a new object is created in the memory.

 * tuple - immutable
 * string- immutable

example-

In [13]:
t1=(2, 4, 5, ["test", "rest", "yes"])
print(t1)
t1.append(3.33) #-- tuples are immutablee
print(t1)

(2, 4, 5, ['test', 'rest', 'yes'])

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
print("example of string")
s = "kavita"
print(s)
s[0]= "k" # string are immutable
print(s)

example of string
kavita

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
* list and tuple both store heterogeneous data, list syntax is [], we can add remove or modify(insert, remove, pop, extend, append) the data and it's mutable datatype where as tuple syntax is () and have immutable datatype cann't modify the data.

4. Describe how dictionaries store data?
* dictionaries syntax is {} and store data in key-value pair, making them an efficient way to retrieve values based on their associated keys.
   * Hashing for fast lookup-  Inseated of searching al item one by one, the dictionary quickly find the value using a **hashing technique.**
   * unordered but accessible- item doesn't have a fixed position, but each key directly points to its value.
   * Handles conflicts- if two keys accidentally get the same hash, python manage internally. ---> will check

5. Why might you use a set instead of a list in Python?
* Both lists and sets can store heterogeneous data and are mutable. A set allows only unique elements and does not have a fixed order, whereas a list maintains order and allows duplicate values.

6. What is a string in Python, and how is it different from a list?
* string is a sequence of character which represent inside the double quote (""), single quote ('') or triple quote(''' ''' or """ """) and manipulate textual data.string is immutable and only character allowed where as list is mutable and allowed heterogeneous data.

7. How do tuples ensure data integrity in Python?
* Tuples ensure data integrity in Python because  they are immutable , meaning their values cannot be modified after creation.
  * No accidental changes- If a programmer store important data in a tuple, no one can accidentally modifyed it.
  * Safer in team work- If multiple programmer are using ame data, a tuple ensure it nobody messes it up.
  * Works well as dictionary key- Since tuples stay the same, they can be used to lable data reliably.

8. What is a hash table, and how does it relate to dictionaries in Python?
* A hash table is like a super fast way to store and find things using a special trick called hashing. It works like smart file system instead of checking every item one by one, it jumps straight to where the item is stored.
  * it relate to dictionaries in Python---
   when we store data in key-value pairs in a dictionary, python hashes the key to store and retrieve values quickly.

9. Can lists contain different data types in Python?
* Yes.

10. Explain why strings are immutable in Python?
* strings are immutable because of memory efficiency- (if many parts of a program use the same string, pythobn stores it onlt once instead of making multiple copies).
* security & safety - Since strings never change, they prevent accidental modifications, making programs more reliable.
* fast performance- Python optimizes how it handles strings, so immutability makes string operations faster.
* used as dictionary keys- String stay the same, so they work as stable keys in dictionaries, unlike mutable object.

11. What advantages do dictionaries offer over lists for certain tasks?
* dictionaries are better that list for eratomn tasks because they use keys to find data quickly, while list require searching through items one by one.
 Choose Dictionaries Over List----
  * Fast lookup-
     * in a dictionary, you can instantly find a value using its key.
     * in a list, you may need to check every item one by one.
  * organized data-
    * dictionaries store data in key-value pairs.
    * lists only store values without labels, making it harder to find specific items.
  * efficient memory usage-
    * dictionaries can handle large datasets efficiently compared to lists.
    * list become slower as they grow because searching takes more time.
  * Great for real-worls mapping-
    * if you need to connect related items dictionaries are ideal.
    * Lists work better for simple sequences like name in order.

12. Describe a scenario where using a tuple would be preferable over a list?
* A tuple is better than a list when you need fixed, unchangeable data that should saty the same throughout your program.
* scenario: storing Bithdates--
Imagine you're building a system to store people's birthdates. Since a person's birthdate never changes, using a tuple ensures no accidental modifications.
Using a Tuple(Safe and fixed)
# Year, Month, Day
# birthdate = (2000, 5, 13)
Once stored , no one can accidentally change the birthdate.

Using a List(Risk)
#birthdate = [2000, 5, 13]
#birthdate[0] = 1999
Now it's incorrect.
If someone accidentally modifies the list, the birthdate changes, which should never happen.

we use Tuples here for below reason-
* Prevents accidental modifications
* Uses less memory
* Faster performance
* Can be used as dictionary keys

13. How do sets handle duplicate values in Python?
* Set automatically remove duplicate values, meaning each item in a set is unique.
* when we add items into a set, pyhton checks if the items already exists.
* if it does, python ignores it and doesn't add it again.
* this helps keep the set clean and efficient.

Set is useful due to below reason-
* Avoids duplicate data
* Fast lookup for unique values
* Perfect for storing things like IDs, usernames, or unique items

14. How does the “in” keyword work differently for lists and dictionaries?
* the in keywords is used to check if an item exist, but it works slightly differently for lists and dictionaries.
  * In list - it searchs through the list one by one to check if the item exist. Science lists don't have keys, python checks every item until it find a match.
  * In dictionaries - it only checks keys, Not values. To check values, you must use .values()

Key difference-
* Lists: Searches through all items.
* Dictionaries: Checks only keys unless .values() is used.

15. Can you modify the elements of a tuple? Explain why or why not?
* No, we cann't modify(add and remove) the element of the tuple as they are immutable. if we do it will throw error - AttributeError: 'tuple' object has no attribute 'append'.

16. What is a nested dictionary, and give an example of its use case?
* A nested dictionary is a dictionary inside another dictionary. It allows you to organize complex data in a structured way, similar to folders inside folders on a computer.
* Use case- storing student data
Imagine you need to store details about multiple students, like their name, grades, and age. A nested dictionary makes it easy!

Use of nested Dictionaries-
* Organized structure
* Easy to access specific details
* Great for storing hierarchical data

17. Describe the time complexity of accessing elements in a dictionary?
* Accessing elements in a dictionary is very efficient because dictionaries use a hash table.
* Time complexity-
  * Best and Average case- when a key is searched, python hashes the keey and directly jumps to the correct location  in memory. This means accessing elements is almost instant, regardless of the dictionary size.
  * Worst case (rare) - if too many keys produce the same hash, python may need to serach through multiple stored values. however, python uses techmiques like chaining or open addressing to minimize collisions, so happens rarely.

18. In what situations are lists preferred over dictionaries?
* lists are preferred over dictionaries in situations where order matters or when data is simple and sequential and memory usage is important(use less memory).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
* Dictionaries are unordered because they don't store items in a fixed sequence like lists do. Instead, they use a hashing system to place key-value pairs in memory efficiently.

affect data retrieval---
* Fast Lookups
* No Fixed Order
* Looping Order May Vary - when looping, the order might change (but 3.7+ preserves insertion order).

20. Explain the difference between a list and a dictionary in terms of data retrieval?
* The main difference between a list and a dictionary in terms of data retrieval is how we are getting items or finding items.
* lists (search by position)-
 * access items by index.
 * if you don't know the index, you must search through all the items onee by one .
 * slower if the list is long
* dictionaies (search by key)-
 * you don't search manually ; you use a key to find values instantly.
 * much faster than lists for retrieving specific data.
 * works like a phone book.

-------------------- ******Practical ********* -------------------

In [16]:
# 1. Write a code to create a string with your name and print it
name= "kavita joshi"
print(name)

kavita joshi

In [17]:
# 2.  Write a code to find the length of the string "Hello World"?
s= "Hello World"
print(len(s))

11

In [18]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
s= "Python Programming"
print(s[0:3])

Pyt

In [19]:
# 4. Write a code to convert the string "hello" to uppercase?
s= "hello"
print(s.upper())

HELLO

In [20]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s= "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [21]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [22]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
l=[1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [24]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l= [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [29]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l=  ['a', 'b', 'c', 'd']
print(l[1])

b

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
l= [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

In [30]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
t= (100, 200, 300)
print(t)

(100, 200, 300)

In [31]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t= ('red', 'green', 'blue', 'yellow')
print(t[1:])

('green', 'blue', 'yellow')

In [36]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t =(10, 20, 5, 15)
print(min(t))

5

In [41]:
from ast import Index
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?
t= ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [44]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruit=('apple', 'banana', 'cherry')
print("kiwi" in fruit)

False

In [49]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
s = {'a', 'b', 'c'}
print(s) #--> as set are unordered, the element may appear in different order.

{'b', 'c', 'a'}

In [50]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
s=  {1, 2, 3, 4, 5}
print(s.clear)

<built-in method clear of set object at 0x7fc4555250e0>

In [52]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s=  {1, 2, 3, 4}
print(s.remove(4))
print(s)

None
{1, 2, 3}

In [53]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
s1= {1, 2, 3}
s2= {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [54]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [55]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
d={"name" :"Kavita joshi", "age":42, "city": "bangalore"}
print(d)

{'name': 'Kavita joshi', 'age': 42, 'city': 'bangalore'}

In [61]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
d={'name': 'John', 'age': 25}
print(d)
d['country']='USA'
print(d)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [62]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
d= {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [64]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
d=  {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d)
d.pop('age')
print(d)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [66]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
d= {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [73]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all?
# print all together in the list-
l= [1, "test", 3.33, (1, 2.8, "test", 4), {'name': 'kavita', 'city':'bangalore'}]
print(l)
print()
# Print seperate-
lst =[1, 3.33, "Nice"]
print( lst)
print()
tpl= (1, 3.33, "Nice")
print(tpl)
print()
dic= {'name': 'kavita', 'city':'bangalore'}
print( dic)

[1, 'test', 3.33, (1, 2.8, 'test', 4), {'name': 'kavita', 'city': 'bangalore'}]

[1, 3.33, 'Nice']

(1, 3.33, 'Nice')

{'name': 'kavita', 'city': 'bangalore'}

In [5]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)?
l= [2, 66, 95,-27, 77]
print(l)
l.sort()
print(l)

[2, 66, 95, -27, 77]
[-27, 2, 66, 77, 95]

In [6]:
# 28. Write a code to create a list with strings and print the element at the third index?
l =["tset", "kavita", "joshi", "new", "data"]
print(l)
l[3]

['tset', 'kavita', 'joshi', 'new', 'data']

'new'

In [14]:
#29. Write a code to combine two dictionaries into one and print the result?
d1= {'name': 'Alice', 'age': 30, 'city': 'London'}
d2= {'name': 'Bob', 'age': 30, 'city': 'Paris'}
com_d = d1.copy()
com_d.update(d2)
print(com_d)
print(d1, d2)

{'name': 'Bob', 'age': 30, 'city': 'Paris'}
{'name': 'Alice', 'age': 30, 'city': 'London'} {'name': 'Bob', 'age': 30, 'city': 'Paris'}

In [17]:
# 30. Write a code to convert a list of strings into a set?
def convert_string_list_to_set(stringList):
    """Converts a list of strings to a set.

    Args:
    string_list: A list of strings.

    Returns:
    A set containing the unique strings from the input list.
    """
    return set(stringList)

lst = ["joke", "test", "best" , "mad", "test", "best"]
s= convert_string_list_to_set(lst)
print(s)

{'joke', 'mad', 'best', 'test'}